/* Sidebar Styles */
#sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    transition: transform 0.3s ease-in-out;
  }
  
  main {
    flex-grow: 1;
  }
  
  body {
    overflow-x: hidden;
  }
  
  /* Ensure the sidebar toggles correctly */
  .collapse:not(.show) {
    transform: translateX(-250px);
  }
  
  @media (min-width: 768px) {
    #sidebar {
      transform: none !important;
    }
  }
  